<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4"></div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" placeholder="Username" value="michael23">
        </div>
        <!-- <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" placeholder="Email">
        </div> -->
        <div class="form-group">
          <label for="exampleInputEmail1">password</label>
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-block btn-fill">
            <i class="fa fa-envelope"></i> E-mail login</button>
          <div class="clearfix"></div>
        </div>
        <hr>
        <div class="text-center">
          <button type="submit" class="btn btn-danger btn-block btn-fill" (click)="loginGoogle()">
            <i class="fa fa-google-plus-square"></i> Google account</button>

          <button type="submit" class="btn btn-info btn-block btn-fill" (click)="loginGoogle()">
            <i class="fa fa-facebook-square"></i> Facebook account</button>
        </div>

      </div>

      <div class="col-md-4"></div>



    </div>
  </div>
</div>